# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode
# .vscode/  # Uncomment if you want to exclude VSCode settings

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
pubspec.lock
/build/
**/build/
**/kernel_blob.bin
**/flutter_build.d
**/flutter_assets/

# Obfuscation related
app.*.map.json
app.*.symbols

# Android Studio build folders
/android/app/debug
/android/app/profile
/android/app/release

# FRONT
/build/
/front/build/
front/.dart_tool/
front/.flutter-plugins

# BACKEND Node.js
/Backend_Project/node_modules/
/Backend_Project/package-lock.json

# Uploads
/Backend_Project/uploads/

